.wrapper {
    position: relative;
    margin: 0 auto;
    width: 400px;
    height: 400px;
}
.game {
    position: absolute;
    top: 0;
    left: 0;
}
.grid {
    position: absolute;
    top: 0;
    left: 0;
}